@model IEnumerable<MyClass.Models.Slider>

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@section header{
	<link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section footer{
	<script src="~/Public/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#myTable').DataTable();
		});
	</script>
}

<div class="content-wrapper">
	<section class="content my-2">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-6">
						<strong class="text-danger">QUẢN LÝ SLIDER</strong>
					</div>
					<div class="col-md-6 text-right">
						<a href="@Url.Action("Create","Slider")" class="btn btn-sm btn-success"><i class="fas fa-plus"></i>Thêm mới</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				@Html.Partial("Message")
				<table class="table table-bordered table-striped " id="myTable">
					<tr>
						<th class="text-center">ID</th>
						<th class="text-center">
							@Html.DisplayNameFor(model => model.Name)
						</th>
						<th class="text-center">
							Hình ảnh
						</th>
						<th class="text-center">
							Url
						</th>
					
						<th class="text-center">
							Ngày tạo
						</th>
						<th class="text-center">
							Ngày cập nhật
						</th>
						<th class="text-center" style="width: 150px">Chức năng</th>
					</tr>

					@foreach (var item in Model)
					{
						<tr>
							<td>@item.Id</td>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								<img src="~/Public/images/sliders/@item.Image" alt="TenHinh" class="img-fluid" />
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Url)
							</td>
							
							<td>
								@Html.DisplayFor(modelItem => item.CreatedAt)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.UpdatedAt)
							</td>
							<td>
								<a href="@Url.Action("Details","Slider", new { id = item.Id })" class="btn btn-sm btn-primary"><i class="fas fa-eye"></i></a>
								<a href="@Url.Action("Edit","Slider", new { id = item.Id })" class="btn btn-sm btn-info"><i class="fas fa-edit"></i></a>
								<a href="@Url.Action("Delete","Slider", new { id = item.Id })" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
							</td>
						</tr>
					}
				</table>
			</div>
		</div>
	</section>
</div>