@model MyClass.Models.Product

@{
	ViewBag.Title = "Chi tiết sản phẩm";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Main content -->
	<section class="content my-2">

		<!-- Default box -->
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-6">
						<strong class="text-danger">CHI TIẾT SẢN PHẨM</strong>
					</div>
					<div class="col-md-6 text-right">
						<a href="@Url.Action("Delete","Product", new { id = Model.Id })" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash"></i>Xóa</a>
						<a href="@Url.Action("Edit","Product", new { id = Model.Id })" class="btn btn-sm btn-outline-success"><i class="fas fa-edit"></i>Cập nhật</a>
						<a href="@Url.Action("Index","Product")" class="btn btn-sm btn-outline-info"><i class="fas fa-long-arrow-alt-left"></i>  Về danh sách</a>
					</div>
				</div>
			</div>
			<div class="card-body ">
				<table class="table table-bordered">
					<tr>
						<th style="width:180px" class="bg-dark"><p>Tên trường</p></th>
						<th class="bg-dark">Nội dung</th>
					</tr>
					<tr>
						<td class="bg-light">@Html.DisplayNameFor(model => model.Name) </td>
						<td class="bg-light">@Html.DisplayFor(model => model.Name)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.Description) </td>
						<td>@Html.DisplayFor(model => model.Description) </td>
					</tr>
					<tr>
						<td class="bg-light">@Html.DisplayNameFor(model => model.Price) </td>
						<td class="bg-light">
							@Html.DisplayFor(model => model.Price)
						</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.Sale) </td>
						<td>@Html.DisplayFor(model => model.Sale) </td>
					</tr>
					<tr>
						<td class="bg-light">@Html.DisplayNameFor(model => model.Size) </td>
						<td class="bg-light">@Html.DisplayFor(model => model.Size) </td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.Color)</td>
						<td>@Html.DisplayFor(model => model.Color)</td>
					</tr>
					<tr>
						<td class="bg-light">@Html.DisplayNameFor(model => model.TypeProduct)</td>
						<td class="bg-light">@Html.DisplayFor(model => model.TypeProduct)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.Amount)</td>
						<td>@Html.DisplayFor(model => model.Amount)</td>
					</tr>
					<tr>
						<td class="bg-light">@Html.DisplayNameFor(model => model.Image)</td>
						<td class="bg-light">@Html.DisplayFor(model => model.Image)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.CreatedAt)</td>
						<td>@Html.DisplayFor(model => model.CreatedAt)</td>
					</tr>
					<tr>
						<td class="bg-light">@Html.DisplayNameFor(model => model.UpdatedAt)</td>
						<td class="bg-light">@Html.DisplayFor(model => model.UpdatedAt)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.NameCategory)</td>
						<td>@Html.DisplayFor(model => model.NameCategory)</td>
					</tr>
				</table>	
			</div>
		</div>
		<!-- /.card -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
