@model MyClass.Models.NewsCategory

@{
	ViewBag.Title = "Cập nhật DM mẫu tin";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content my-2">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<strong class="text-danger">CẬP NHẬT DANH MỤC MẪU TIN</strong>
						</div>
						<div class="col-md-6 text-right">
							<button class="btn btn-sm btn-outline-success" type="submit" name="create"><i class="fas fa-save"></i>  Update</button>
							<a href="@Url.Action("Index","NewsCategory")" class="btn btn-sm btn-outline-info"><i class="fas fa-long-arrow-alt-left"></i>  Về danh sách</a>
						</div>
					</div>
				</div>
				<!-- Default box -->
				<div class="card-body col-md-12">
					<div class="row">
						<div class="col-md-9">
							<div class="form-group">
								<label>Tên sản phẩm <span class="text-danger">(*)</span></label>
								<div class="col-md-10">
									@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
								</div>
							</div>

						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Menu cha </label>
								@Html.DropDownListFor(model => model.ParentId, (SelectList)ViewBag.Listmenu, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.ParentName, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
				</div>
			</div>	<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
}
